.container{
    text-align: center;
    

}
h1{
    font-size: 500%;
    font-family: 'Lobster Two', cursive;
    color: coral;
    text-decoration:underline;
}
.badge {
    line-height: 5ex;
    width: 100ex;
    background-color: cadetblue;
    text-align: left;
    padding: 5ex;
    font-size: 110%;
    margin: 5%;
}
.bkground {
    background-image: url(https://image.freepik.com/free-vector/fast-food-illustrations_23-2147508525.jpg?1)
}